.home{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle{
    width: 100%;
 
}

.main{
    width: 95%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}


